body{

  font-family: "helvetica";
  background: #AB4432;
  color: white;
}

.page{
  margin-top: 50px;
  text-align: center;
}

.logo{
  margin: 0 auto;
  position: relative;
}

a{
  color: white;
}

#mc_embed_signup{
  width: 400px;
  margin: 0 auto;
  position: relative;
  clear:left; 
  font:14px 
  Helvetica,Arial,sans-serif; 
}

.email{
  margin: 10px;
  padding: 5px;
  height: 30px;
  font-size: 15px;
  border: 0px;
}

.button{
  border-radius: 0px;
  border: 0px;
  color: #AB4432;
  padding: 10px 15px;
  font-size: 15px;
  background: white;
  cursor: pointer;
  border: 2px solid white;
}

.button:hover{
  color: white;
  background: #AB4432;
  border: 2px solid white;
}
