@import "bourbon/bourbon";

@import"colors";
@import"buttons";
@import"breakpoints";
@import"structure";
@import"typography";
@import"nav";
@import"footer";
@import"mobilemenu";
@import"mailchimp-form";


body{
  font-family: "Open Sans", helvetica, arial, verdana, sans-serif;
  letter-spacing: .09rem;
  font-weight: 100;
}
