
<div class="row">

	<div class="col1-2">
		<div class="video module">
			<iframe src="https://www.youtube.com/embed/8W-FlMY6VVI" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col1-2">
		<div id="mc_embed_signup" class="form module">
			<form action="//twoscoopgames.us8.list-manage.com/subscribe/post?u=754c46f26308f0b77e3d5de00&amp;id=7a43e3cac0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">
						<p>Receive email updates on our progress:</p>
					</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_754c46f26308f0b77e3d5de00_7a43e3cac0" tabindex="-1" value=""></div>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				</div>
			</form>
		</div>
	</div>

</div><!-- /row -->
